.table-items {
  tr.open {
    background-color: rgba(190, 255, 126, 0.3);
  }
  tr.closed {
    background-color: rgba(122, 253, 253, 0.3);
  }
  tr.canceled {
    background-color: rgb(0, 0, 0, 0.2);
  }
}
