.add-client-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto 0 auto;
  padding: 1em;
  font-size: 1.5em;
  background-color: #CFD8DC;
  border-radius: 5px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
  .title {
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    .field {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      label {
        width: 30%;
        cursor: pointer;
      }
      input {
        width: 60%;
        padding: 4px;
        font-size: .8em;
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 4px;
        outline: none;
        background:  rgba(250, 250, 250);
        &:focus {
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
          background: white;
        }
        &.ng-touched.ng-invalid {
          border: solid red 1px;
        }

      }
    }
    .action-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      button {
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 1em;
        margin: 0 20px 0 20px;
        border-radius: 5px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
        &:hover {
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
.validate {
  small {
    margin-left: 40%;
    color: red;
    font-size: 70%;
  }
}
