.notification-wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85px;
  right: 40px;
  width: 180px;
  .notification {
    border-radius: 7px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    p {
      margin: 0;
      padding: .5em;
    }
  }
}

.notification-success {
  background-color: var(--confirm-color);
}
.notification-warning {
  background-color: var(--attention-color);
}
.notification-error {
  display: flex;
  background-color: var(--danger-color);
  .btn-close {
    background-color: var(--danger-hover-color);
    width: 60%;
    border: none;
    border-radius: 0 7px 7px 0;
    &:hover {
      font-size: 1.1em;
    }
  }
}
