.header {
  display: flex;
  min-width: max-content;
  height: 70px;
  padding-left: 50px;
  padding-right: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0 0 8px 4px rgb(0, 0, 0, 0.6);
  -webkit-user-select: none;
  .app-logo {
    font-size: 50px;
    cursor: pointer;
  }
  .routerLink {
    text-decoration: none;
    color: #CFD8DC;
  }
  .user-actions {
    display: flex;
    align-items: center
  }
}

.btn-header {
  font-size: 1.3em;
  margin-left: 1em;
  border: 2px solid white;
  border-radius: 7px;
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 3px 3px white;
  }
}

.email-header {
  height: 20px;
  padding: 4px 10px;
  border-radius: 14px;
  color: white;
  box-shadow: 0 0 4px 1px white;
}

.mat-progress-bar {
  position: absolute;
  top: 70px;
  left: 0;
}
