<div class="form-wrapper">
  <div class="alert" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>
  <form class="form-add" [formGroup]="form" (ngSubmit)="submit()">
    <label for="email">Email:</label>
    <input id="email" class="control" type="email" formControlName="email">
    <div class="validate" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">
        Email cannot be empty
      </small>
      <small *ngIf="form.get('email').errors.email">
        Enter valid email
      </small>
    </div>

    <label for="password">Password:</label>
    <input id="password" class="control" type="password" formControlName="password">
    <div class="validate" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">
        Password cannot be empty
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        The password has to be minimum
        {{form.get('password').errors.minlength.requiredLength}}
        characters long
      </small>
    </div>

    <div class="action-buttons">
      <button
        type="submit"
        class="btn-form"
        [disabled]="form.invalid || isSubmitted"
      >Login</button>
    </div>
  </form>
</div>

