<ng-container *ngIf="clients$ | async">
  <p class="table-title">Clients</p>
  <div class="clients-actions">
    <app-search-field
      [placeholder]="'Find client by name...'"
      [(searchString)]="searchString"
    ></app-search-field>
    <app-active-button
      [titleInactive]="'Add client'"
      [titleActive]="'Cancel'"
      (isActiveEmitter)="changeIsAddingClient($event)"
    ></app-active-button>
  </div>

  <app-clients-add-form *ngIf="isAddingClient"
    (submitEmitter)="addClient($event)"
  ></app-clients-add-form>

  <app-clients-table
    [clients]="clients$ | async | clientsFilter: searchString"
    (deleteEmitter)="deleteClient($event)"
    (updateEmitter)="updateClient($event)"
  ></app-clients-table>
</ng-container>
