<mat-progress-bar *ngIf="isLoading$ | async"  mode="indeterminate"></mat-progress-bar>
<app-error-message *ngIf="error$ | async" [errorTitle]="error$ | async"></app-error-message>

<ng-container *ngIf="clients$ | async">
  <p class="table-title">Clients</p>
  <div class="clients-actions">
    <app-search-field
      [placeholder]="'Find client by name...'"
      [(searchString)]="searchString"
    ></app-search-field>
    <app-add-item-button
      [title]="'Add client'"
      (changeIsAdding)="changeIsAddingClient($event)"
    ></app-add-item-button>
  </div>

  <app-clients-add-form *ngIf="isAddingClient"
    (addClient)="addClient($event)"
  ></app-clients-add-form>

  <app-clients-table
    [clients]="clients$ | async | clientsFilter: searchString"
    (deleteClient)="deleteClient($event)"
    (updateClient)="updateClient($event)"
  ></app-clients-table>
</ng-container>
